@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black text-opacity-75;
    @apply dark:font-light dark:text-white dark:text-opacity-75 dark:bg-stone-900;
    font-size: 112.5%;
    line-height: 1.4;
  }

  @screen lg {
    html {
      /* font-size: 150%; */
      line-height: 1.5;
    }
  }

  b,
  strong {
    @apply text-black dark:text-white font-bold;
  }
}

@layer components {
  .link {
    @apply text-blue-500 dark:text-blue-400 underline;
  }

  .link:visited {
    @apply text-purple-600 dark:text-purple-500;
  }
}

#saigon-roads img {
  @apply invert brightness-150 dark:invert-0 dark:brightness-100;
}
