<header class="site-header">
  <div class="site-header-inner">
    <div class="wrapper">
      <h1>Benjamin Knight</h1>
      <h2>Designer &amp; Developer</h2>
      <nav>
        <ul>
          <li><a href="http://github.com/benknight">Github</a></li>
          <li><a href="http://codepen.io/benknight">Codepen</a></li>
          <li><a href="http://toptal.com/resume/benjamin-knight">Resume</a></li>
          <li><a href="http://twitter.com/babylemurman">Twitter</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
