{% for project in site.projects reversed %}
<div class="project clearfix">

  <h4>{{ project.title }}</h4>

  {% if project.image %}
    <div class="project-image{%if project.image.align == 'left' %} alignleft{% endif %}">
      {% if project.image.link %}<a href="{{ project.image.link }}">{% endif %}
        {% if project.image.url %}<img src="/images/projects/{{ project.image.url }}">{% endif %}
      {% if project.image.link %}</a>{% endif %}
    </div>
  {% endif %}

  {{ project.content }}
</div>
{% endfor %}
