/** Basic styling */

body {
  margin: 0;
  padding-bottom: spacing(6);
  font: 20px/1.5 Petrona, Baskerville, Georgia, sans-serif;
  font-kerning: normal;

  @include media-query($on-palm) {
    font-size: 17px;
  }
}

h2 {
  font-size: 140%;
}

h1, h2, h3, h4, p, ul, ol {
  margin: spacing(5) 0;
}



/** Images */

img {
  max-width: 100%;
  vertical-align: middle;
}



/** Links */

$link-color: #3a3;

a {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: darken($link-color, 10%);
  }

  &:hover {
    text-decoration: underline;
  }
}



/** Wrapper */

.wrapper {
  max-width: 850px - spacing(10);
  margin-right: auto;
  margin-left: auto;
  padding-right: spacing(5);
  padding-left: spacing(5);
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: 800px - spacing(5);
    padding-right: spacing(2.5);
    padding-left: spacing(2.5);
  }
}



/** Clearfix */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}