@import "node_modules/tachyons/src/_colors.css";

::selection {
  background-color: cyan;
}

html {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 11%);
  font: 112.5%/1.4 -apple-system, sans-serif;
}

/* --breakpoint-large */
@media screen and (min-width: 60em) {
  html {
    font: 150%/1.5 -apple-system, sans-serif;
  }
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  text-rendering: optimizeLegibility;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  color: white;
  font-weight: bold;
}

h1, .h1 {
  font-size: 1.5rem;
}

h2, .h2 {
  font-size: 1.28rem;
  margin-top: 3rem;
}

h3, .h3 {
  font-size: 1.18rem;
}

/* --breakpoint-large */
@media screen and (min-width: 60em) {
  h1, .h1 {
    font-size: 2rem;
  }

  h2, .h2 {
    font-size: 1.52rem;
  }

  h3, .h3 {
    font-size: 1.32rem;
  }
}

ul, ol {
  margin: 0 1.5rem 1.5rem 0;
  padding: 0 0 0 1rem;
  list-style-position: outside;
  list-style-image: none;
}

li {
  margin-bottom: calc(1.5rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.5rem;
  margin-bottom: calc(1.5rem / 2);
  margin-top: calc(1.5rem / 2);
}

li > ul {
  margin-left: 1.5rem;
  margin-bottom: calc(1.5rem / 2);
  margin-top: calc(1.5rem / 2);
}

li > p {
  margin-bottom: calc(1.5rem / 2);
}

p, dl, dd, figure, pre, table, fieldset, form, noscript,
iframe, address {
  margin: 0 0 1.5rem;
  padding: 0;
}

pre {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

table {
  font-size: 1rem;
  line-height: 1.5rem;
  border-collapse: collapse;
  width: 100%;
}

blockquote {
  margin: 0 1.5rem 1.5rem;
  padding: 0;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: calc(1.5rem - 1px);
  padding: 0;
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

b, strong, dt, th {
  font-weight: bold;
}

blockquote *:last-child,
li *:last-child,
p *:last-child {
  margin-bottom: 0;
}

code, kbd, samp {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

abbr, acronym, abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: calc(0.75rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}