.cover {
  max-height: 50vh;
}

.content img {
  max-width: none;
  width: calc(100% + 1.5rem);
  margin: 0 -0.75rem;
}

@media (min-width: 1024px) {
  .content img {
    margin: 0;
    width: 100%;
  }
}
